// | -------------------------------------------------------------
// | Color 
// | -------------------------------------------------------------

$colors: (
	primary: (
		100: hsl(140, 50%, 80%),
		200: hsl(140, 50%, 65%),
		300: hsl(140, 50%, 50%),
		400: hsl(140, 60%, 40%),
		500: hsl(140, 70%, 30%),
	),
	secondary: (
		100: hsl(200, 70%, 80%),
		200: hsl(200, 70%, 65%),
		300: hsl(200, 70%, 50%),
		400: hsl(200, 80%, 40%),
		500: hsl(200, 90%, 30%),
	),
	tertiary: (
		100: hsl(0, 0%, 90%),
		200: hsl(0, 0%, 70%),
		300: hsl(0, 0%, 50%),
		400: hsl(0, 0%, 30%),
		500: hsl(0, 0%, 15%),
	),
	neutral: (
		100: hsl(0, 0%, 100%), 
		200: hsl(0, 0%, 98%),  
		300: hsl(0, 0%, 95%),
		400: hsl(0, 0%, 90%),
		500: hsla(0, 0%, 88%, 0.532),
		600: hsla(0, 0%, 50%),
		700: hsl(0, 0%, 35%),
		800: hsl(0, 0%, 20%),
		900: hsl(0, 0%, 10%),
	),
	dark: (
		100: hsl(0, 0%, 5%),
	),
);
