---
import DefaultLayout from '@layouts/DefaultLayout.astro'
import { PATH } from '../paths'
---

<DefaultLayout title="404">
  <section class="my-12">
    <div class="container">
      <h1 class="text-center">Error 404</h1>
    </div>
  </section>
  <section class="my-12">
    <div class="space-content container">
      <p class="text-2xl">Esta página no existe.</p>
      <a class="button" href={PATH}>Pagina principal</a>
    </div>
  </section>
</DefaultLayout>
