---
import CardSecciones from '@/components/CardSecciones.astro'
import DefaultLayout from '@/layouts/DefaultLayout.astro'
---

<DefaultLayout
	title="Contrato Pedagogico - Objetos I"
	description="Universidad Nacional de Hurlingham, contrato pedagogico de Programación con Objetos I"
	author="Objetos I">
	<div class="container">
		<CardSecciones>
			<h3 class="mb-10 text-center text-3xl sm:text-5xl">
				Contrato pedagógico
			</h3>
			<p class="text-center">
				Todo lo aquí expuesto está (o debería estar) en consonancia con las
				normativas de la Universidad. En particular, te recomendamos que leas al
				menos una vez en tu carrera el régimen de convivencia y el régimen
				académico.
			</p>
			<p class="text-center">
				Es responsabilidad de todos los actores cumplir y hacer cumplir ambas
				normativas, te pedimos por favor que hables con nosotros si pensás que
				estamos fallando en algo.
			</p>
		</CardSecciones>
		<CardSecciones title="Instancias de evaluación">
			<p>
				Contaremos con dos instancias de evaluación formal (o sea, dos momentos
				en que obtendrán una nota numérica), una hacia mitad del cuatrimestre y
				otra hacia el final. Además, tendrán entregas de TP individuales y
				grupales con calificación referencial o conceptual. Y para el final de
				la cursada, se deberá presentar y defender el TP Game Grupal que
				promediará con el resto de las notas.
			</p>
			<p>
				Los parciales serán de carácter individual, pensados para ser resueltos
				durante una clase utilizando la computadora.
			</p>
			<p>
				Para poder estar en condiciones de rendir los parciales y aprobar el TP
				Game Final, será necesario que realicen las entregas previas, ver
				sección siguiente.
			</p>
		</CardSecciones>
		<CardSecciones title="Entregas">
			<p>
				Durante el desarrollo de esta materia, los y las estudiantes fijarán los
				contenidos a través de una serie de ejercicios prácticos semanales.
				Estas actividades, tanto individuales como grupales, serán entregadas
				como parte de la cursada y constituirán la clave para alcanzar el
				objetivo. A través de estas entregas, podrán asegurar y demostrar que
				están progresando adecuadamente en el aprendizaje de los temas
				propuestos. Las entregas se realizarán mediante la plataforma <a
					href="https://github.com/"
					target="_blank"
					>GitHub</a
				>, todas en formato digital. Consideramos que encontrarte cara a cara
				con un problema que tenés que resolver es una muy buena forma de medir
				efectivamente cuánto aprendiste.
			</p>
		</CardSecciones>
		<CardSecciones title="Aprobación">
			<p>
				Como lo establece el <a
					href="https://unahur.edu.ar/wp-content/uploads/2023/06/Regimen-academico-2023BN.pdf"
					target="_blank"
					>Régimen Académico</a
				>
				vigente de la Universidad, hay varias formas de aprobar una materia:
			</p>
			<ul>
				<li class="list-disc">
					<b>Promoción directa</b> : el/la estudiante deberá aprobar la cursada de
					la materia con una nota no inferior a siete (7) puntos, no obteniendo en
					ninguna de las instancias de evaluación parcial menos de seis (6) puntos,
					sean evaluaciones parciales o recuperatorios. El promedio estricto resultante
					deberá ser una nota igual o superior a siete (7) sin mediar ningún redondeo;
				</li>
				<li class="list-disc">
					<b>Evaluación integradora</b> : podrán acceder a esta evaluación aquellos
					estudiantes que hayan aprobado la cursado con una nota de entre cuatro
					(4) y seis (6) puntos. La evaluación integradora tendrá lugar por única
					vez en el primer llamado a exámenes finales posterior al término de la
					cursada. Deberá tener lugar en el mismo día y horario de la cursada y será
					administrado, preferentemente, por el/la docente a cargo de la comisión.
					Se aprobará tal instancia con una nota igual o superior a cuatro (4) puntos,
					significando la aprobación de la materia. La nota obtenida se promediará
					con la nota de la cursada.;
				</li>
				<li class="list-disc">
					<b>Examen final</b> : Instancia destinada a quienes opten por no rendir
					la evaluación integradora o hayan regularizado la materia en cuatrimestres
					anteriores. Se evalúa la totalidad de los contenidos del programa de la
					materia y se aprueba con una calificación igual o superior a cuatro (4)
					puntos. Esta nota no se promedia con la cursada;
				</li>
				<li class="list-disc">
					<b>Criterios de calificación</b> : La calificación de cada evaluación se
					determinará en la escala 0 a 10, con los siguientes valores: 0, 1, 2 y
					3: insuficientes; 4 y 5 regular; 6 y 7 bueno; 8 y 9 distinguido; 10 sobresaliente;
				</li>
			</ul>
		</CardSecciones>
		<CardSecciones title="Fechas">
			<p>
				Ver el calendario <a
					href="https://unahur.edu.ar/calendario-academico/"
					target="_blank"
					>académico de la Universidad</a
				>.
			</p>
		</CardSecciones>
		<CardSecciones title="Programa">
			<p>
				Podés descargarlo haciendo clic <a
					href="/pdf/programa-obj1.pdf"
					target="_blank"
					>aquí</a
				>.
			</p>
		</CardSecciones>
	</div>

	<style>
		p {
			margin-bottom: 0.5rem;
			margin-top: 0.5rem;
		}
		h3 {
			margin-bottom: 1rem;
		}
	</style>
</DefaultLayout>
