---
import DefaultLayout from '../layouts/DefaultLayout.astro'
import Hero from '../components/Hero.astro'
import ContentMedia from '../components/ContentMedia.astro'
import Counter from '../components/Counter.astro'
import Feature from '../components/Feature.astro'
---

<DefaultLayout title="Inicio">
  <Hero />
  <section class="my-64">
    <div class="container">
      <section class="ml10 m-auto flex flex-col">
        <center>
          <h2 class="mb-16 text-6xl">¡Bienvenido/a!</h2>

          <p>
            Si llegaste hasta este sitio es muy probable que estes inscripto en Programación con Objetos I, de la
            Licenciatura en Informática y/o Tecnicatura en Programación de la Universidad Nacional de Hurlingham. Aquí
            encontrarás casi todo lo necesario para tu cursada. Decimos casi porque hay mucho material que “vive” en
            otras páginas, pero este sitio funcionará como punto de partida para llegar allí.
          </p>
          <br />
          <p>
            Antes de seguir, es imprescindible que completes el siguiente Formulario de inscripción que nos ayudará a
            organizar la cursada de la mejor manera posible.
          </p>
          <br />
          <p>
            Arrancamos el cuatrimestre con una modalidad de cursada mixta, donde tendremos clases presenciales y
            virtuales. Hay que estar atento/a al cronograma de la cursada por si en algún momento se hace algún cambio.
          </p>
          <br />
          <p>
            Si ya viniste varias veces, probablemente quieras ir a la sección cursada o ver el material que tenemos
            disponible.
          </p>
        </center>
      </section>
    </div>
  </section>
</DefaultLayout>
