---
const { id, title = '', atencion = false, importante = false } = Astro.props

const CARD_ATENCION =
	'my-5 rounded-md bg-slate-200 p-2 shadow-md shadow-zinc-400 dark:bg-zinc-800 dark:text-white dark:shadow-black'
const CARD_IMPORTANTE =
	'my-5 rounded-md bg-slate-200 p-2 shadow-md shadow-zinc-400 dark:bg-zinc-800 dark:text-white dark:shadow-black'
---

<section
	id={id}
	class="my-5 rounded-md bg-slate-200 p-2 shadow-md shadow-zinc-400 dark:bg-zinc-800 dark:text-white dark:shadow-black">
	<article class="mx-5">
		<h3 class="mb-4">{title}</h3>
		<slot />
	</article>
</section>
