---
import Navigation from '../components/Navigation.astro'
import { SkipLinks } from 'accessible-astro-components'
import { Icon } from 'astro-icon/components'
import { PATH } from '../../const'
---

<header>
  <SkipLinks />
  <Navigation>
    <li class="menu-item">
      <a href={PATH}>Inicio</a>
    </li>
    <li class="menu-item">
      <a href=`${PATH}/blog/`>Semanas</a>
    </li>
    <li class="menu-item has-dropdown">
      <button aria-haspopup="true" aria-expanded="false">Utilidad</button>
      <ul class="dropdown-menu">
        <li class="submenu-item">
          <a href="/mdx-page/">Material</a>
        </li>
        <li class="submenu-item">
          <a href="/markdown-page/">Videos</a>
        </li>
        <li class="submenu-item">
          <a href="/accessible-components">Algo mas...</a>
        </li>
      </ul>
    </li>
    <li class="menu-item type-icon">
      <a href="https://github.com/ValentinoChiappanni/Objetos-1-pagina" title="Go to the GitHub page">
        <Icon name="ion:logo-github" />
      </a>
    </li>
  </Navigation>
</header>

<style lang="scss" is:global>
  @use '../assets/scss/base/outline' as *;

  header {
    .type-icon a {
      display: block;

      [data-icon] {
        height: auto;
        margin-top: -4px;
        width: 30px;

        path {
          fill: var(--action-color);
        }
      }

      &:hover {
        [data-icon] path {
          fill: var(--action-color-state);
        }
      }
    }
  }
</style>
