---
import { Icon } from 'astro-icon/components'
import { PATH, PATH_CURSADA } from '@/paths.js'
const { src = `${PATH}/UNAHUR-LOGO.png` } = Astro.props
---

<section class="hero my-24">
  <div class="container">
    <div class="grid grid-cols-1 items-center gap-24 lg:grid-cols-2">
      <div class="flex flex-col items-center gap-8 md:items-start">
        <h1 class="text-center text-4xl sm:text-left md:text-6xl lg:text-8xl">
          <span class="text-gradient select-none">Programación con Objetos I</span>
        </h1>
        <div class="button-container min-[500px] flex flex-col justify-center gap-3 md:flex-row md:flex-wrap">
          <a class="button has-icon" href={PATH_CURSADA}>
            <Icon name="ion:star-outline" />
            Cursada
          </a>
          <a
            class="button has-icon color-secondary"
            href="https://docs.google.com/spreadsheets/d/13rFU2mObqdFF_2Ocimey_oHJ0Ldv-Gx0S1N4cfHKO4Q/edit#gid=1006593733"
            target="_blank"
          >
            <Icon name="ion:bookmark-outline" />
            Cronograma
          </a>
          <a
            class="button has-icon color-tertiary"
            href="https://docs.google.com/spreadsheets/d/1e_CBW8PLMYqEPNZG1ww-mqHua3xuZ5sKVi-81lpwbPo/edit#gid=1017951174"
            target="_blank"
          >
            <Icon name="ion:arrow-up-right-box-outline" />
            Seguimiento
          </a>
        </div>
      </div>
      <div class="flex flex-row justify-end">
        <img class="hidden lg:block" src={src} alt="" decoding="async" />
      </div>
    </div>
  </div>

  <style lang="scss">
    .text-gradient {
      background: linear-gradient(315deg, var(--primary-200) 25%, var(--secondary-500));
      background-clip: border-box;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    :global(.darkmode .text-gradient) {
      background: linear-gradient(315deg, var(--primary-200) 25%, var(--secondary-400));
      background-clip: border-box;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    .button-container a {
      transition: transform 0.2s ease-in-out;
    }

    .button-container a:hover {
      transform: scale(1.1);
    }
  </style>
</section>
