---
import { Icon } from 'astro-icon/components'
---

<div class="p-5">
	<a
		href="/pdf/guia1-objetos.pdf"
		target="_blank"
		class="cero rounded-md bg-slate-300 hover:bg-slate-400 dark:bg-zinc-900 dark:hover:bg-zinc-700"
		>Guía 1 - objetos <Icon name="ion:arrow-up-right-box-outline" /></a
	>
	<a
		href="/pdf/guia2-objetos.pdf"
		target="_blank"
		class="uno rounded-md bg-slate-300 hover:bg-slate-400 dark:bg-zinc-900 dark:hover:bg-zinc-700"
		>Guía 2 - objetos <Icon name="ion:arrow-up-right-box-outline" /></a
	>
	<a
		href="/pdf/guia3-objetos.pdf"
		target="_blank"
		class="dos rounded-md bg-slate-300 hover:bg-slate-400 dark:bg-zinc-900 dark:hover:bg-zinc-700"
		>Guía 3 - objetos <Icon name="ion:arrow-up-right-box-outline" /></a
	>
	<a
		href="/pdf/guia4-colecciones.pdf"
		target="_blank"
		class="tres rounded-md bg-slate-300 hover:bg-slate-400 dark:bg-zinc-900 dark:hover:bg-zinc-700"
		>Guía 4 - colecciones <Icon name="ion:arrow-up-right-box-outline" /></a
	>
	<a
		href="/pdf/guia5-clases.pdf"
		target="_blank"
		class="cuatro rounded-md bg-slate-300 hover:bg-slate-400 dark:bg-zinc-900 dark:hover:bg-zinc-700"
		>Guía 5 - clases <Icon name="ion:arrow-up-right-box-outline" /></a
	>
	<a
		href="/pdf/guia6-herencia.pdf"
		target="_blank"
		class="cinco rounded-md bg-slate-300 hover:bg-slate-400 dark:bg-zinc-900 dark:hover:bg-zinc-700"
		>Guía 6 - herencia <Icon name="ion:arrow-up-right-box-outline" /></a
	>
	<a
		href="/pdf/guia7-herencia.pdf"
		target="_blank"
		class="seis rounded-md bg-slate-300 hover:bg-slate-400 dark:bg-zinc-900 dark:hover:bg-zinc-700"
		>Guía 7 - herencia <Icon name="ion:arrow-up-right-box-outline" /></a
	>
	<a
		href="/pdf/guia8-adicionales-1er-parcial.pdf"
		target="_blank"
		class="siete rounded-md bg-slate-300 hover:bg-slate-400 dark:bg-zinc-900 dark:hover:bg-zinc-700"
		>Guía 8 - adicionales <Icon name="ion:arrow-up-right-box-outline" /></a
	>
	<a
		href="/pdf/guia9-integradores.pdf"
		target="_blank"
		class="ocho rounded-md bg-slate-300 hover:bg-slate-400 dark:bg-zinc-900 dark:hover:bg-zinc-700"
		>Guía 9 - integradores <Icon name="ion:arrow-up-right-box-outline" /></a
	>
	<a
		href="/pdf/guia10-extras.pdf"
		target="_blank"
		class="nueve rounded-md bg-slate-300 hover:bg-slate-400 dark:bg-zinc-900 dark:hover:bg-zinc-700"
		>Guía 10 - extras <Icon name="ion:arrow-up-right-box-outline" /></a
	>
</div>

<style lang="scss">
	a {
		transition: transform 0.2s ease-in-out;
		margin: auto;
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 1.25rem;
	}

	a:hover {
		transform: scale(1.05);
	}

	div {
		display: grid;
		gap: 1rem;
		grid-template-rows: repeat(2, 0.5fr);
		grid-template-columns: repeat(5, 1fr);
		grid-template-areas:
			'cero uno dos tres cuatro'
			'cinco seis siete ocho nueve';

		@media (max-width: 550px) {
			grid-template-columns: 1fr;
			grid-template-rows: auto;
			grid-gap: 1rem;
			grid-template-areas:
				'cero'
				'uno'
				'dos'
				'tres'
				'cuatro'
				'cinco'
				'seis'
				'siete'
				'ocho'
				'nueve';
		}

		@media (min-width: 551px) and (max-width: 950px) {
			grid-template-columns: 1fr 1fr;
			grid-template-rows: auto;
			grid-gap: 1rem;
			grid-template-areas:
				'cero uno'
				'dos tres'
				'cuatro cinco'
				'seis siete'
				'ocho nueve';
		}
	}
	.cero {
		grid-area: cero;
	}
	.uno {
		grid-area: uno;
	}
	.dos {
		grid-area: dos;
	}
	.tres {
		grid-area: tres;
	}
	.cuatro {
		grid-area: cuatro;
	}
	.cinco {
		grid-area: cinco;
	}
	.seis {
		grid-area: seis;
	}
	.siete {
		grid-area: siete;
	}
	.ocho {
		grid-area: ocho;
	}
	.nueve {
		grid-area: nueve;
	}
</style>
