---
import Sidebar from '@components/Sidebar.astro'
import DefaultLayout from './DefaultLayout.astro'

const { title } = Astro.props
---

<DefaultLayout title={title}>
  <div class="flex">
    <Sidebar />
    <div class="ml-0 sm:m-auto">
      <slot />
    </div>
  </div>
</DefaultLayout>
