---
import Sidebar from '../components/Sidebar.astro'
import DefaultLayout from './DefaultLayout.astro'
---

<DefaultLayout>
  <div class="flex">
    <Sidebar />
    <div class="ml-5">
      <slot />
    </div>
  </div>
</DefaultLayout>
